In [13]:
import pandas as pd

# Read the CSV file "FDNY.csv" from the "Downloads" directory
df = pd.read_csv("Downloads/14.FDNY.csv")

# Display the DataFrame
print(df)

                                          FacilityName  \
0                                         FacilityName
1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
..                                                 ...
214                  Engine 162/Ladder 82/Battalion 23
215                               Engine 167/Ladder 87
216                               Engine 164/Ladder 84
217                          Engine 168/EMS Station 23
218                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             FacilityAddress        Borough
1             42 South Street      Manhattan
2          124 Liberty Street      Manhattan
3           49 Beekman Street      Manhattan
4        100-104 Duane Street      Manhattan
..                        ...            ...
214         256 Nelson Avenue  Staten Island
215         345 Annadale Road  Staten Island
216  1560 Drumgoole Road West  Staten Island
217     1100 Rossville Avenue  Staten Island
218           7219 Amboy Road  Staten Island

[219 rows x 3 columns]

In [15]:
# Display information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FacilityName     219 non-null    object
 1   FacilityAddress  219 non-null    object
 2   Borough          219 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [16]:
df.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [17]:
import pandas as pd

# Read the CSV file "FDNY.csv" from the "Downloads" directory, skipping the first row
df = pd.read_csv("Downloads/14.FDNY.csv", skiprows=1)

# Display the DataFrame
print(df)

                                          FacilityName  \
0                                   Engine 4/Ladder 15
1                                  Engine 10/Ladder 10
2                                             Engine 6
3    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
4                                             Ladder 8
..                                                 ...
213                  Engine 162/Ladder 82/Battalion 23
214                               Engine 167/Ladder 87
215                               Engine 164/Ladder 84
216                          Engine 168/EMS Station 23
217                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             42 South Street      Manhattan
1          124 Liberty Street      Manhattan
2           49 Beekman Street      Manhattan
3        100-104 Duane Street      Manhattan
4       14 North Moore Street      Manhattan
..                        ...            ...
213         256 Nelson Avenue  Staten Island
214         345 Annadale Road  Staten Island
215  1560 Drumgoole Road West  Staten Island
216     1100 Rossville Avenue  Staten Island
217           7219 Amboy Road  Staten Island

[218 rows x 3 columns]

In [18]:
# Display basic statistics for numerical columns
print(df.describe())

              FacilityName  FacilityAddress   Borough
count                  218              218       218
unique                 218              218         5
top     Engine 4/Ladder 15  42 South Street  Brooklyn
freq                     1                1        66

In [19]:
print(df.columns)

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [20]:
print(df.index)

RangeIndex(start=0, stop=218, step=1)

In [21]:
for column in df.columns:
    count = df[column].count()
    print(f"Column '{column}' has {count} records")

Column 'FacilityName' has 218 records
Column 'FacilityAddress' has 218 records
Column 'Borough' has 218 records

In [22]:
print(df.dtypes)

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

In [27]:
import pandas as pd

# Assuming 'df' is your DataFrame

# List of columns you want to select and display
selected_columns = ['FacilityName', 'FacilityAddress', 'Borough']

# Group the data by 'Borough' and select the specified columns for each borough
borough_wise_info = df.groupby('Borough')[selected_columns].apply(lambda x: x.reset_index(drop=True))

# Display the borough-wise information
print(borough_wise_info)

                                       FacilityName           FacilityAddress  \
Borough
Bronx         0    Engine 60/Ladder 17/Battalion 14     341 East 143rd Street
              1                            Squad 41     330 East 150th Street
              2      Engine 71/Ladder 55/Division 6        720 Melrose Avenue
              3                 Engine 50/Ladder 19    1155 Washington Avenue
              4    Engine 92/Ladder 44/Battalion 17        1259 Morris Avenue
...                                             ...                       ...
Staten Island 15  Engine 162/Ladder 82/Battalion 23         256 Nelson Avenue
              16               Engine 167/Ladder 87         345 Annadale Road
              17               Engine 164/Ladder 84  1560 Drumgoole Road West
              18          Engine 168/EMS Station 23     1100 Rossville Avenue
              19               Engine 151/Ladder 76           7219 Amboy Road

                        Borough
Borough
Bronx         0           Bronx
              1           Bronx
              2           Bronx
              3           Bronx
              4           Bronx
...                         ...
Staten Island 15  Staten Island
              16  Staten Island
              17  Staten Island
              18  Staten Island
              19  Staten Island

[218 rows x 3 columns]

In [28]:
import pandas as pd

# Assuming 'df' is your DataFrame

# Get the unique boroughs in the DataFrame
unique_boroughs = df['Borough'].unique()

# Loop through each unique borough and display information
for borough in unique_boroughs:
    borough_info = df[df['Borough'] == borough]
    print(f"Information for Borough: {borough}")
    print(borough_info)
    print('\n')  # Add a newline for separation

Information for Borough: Manhattan
                                         FacilityName  \
0                                  Engine 4/Ladder 15
1                                 Engine 10/Ladder 10
2                                            Engine 6
3   Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
4                                            Ladder 8
5                                   Engine 9/Ladder 6
6                     Engine 15/Ladder 18/Battalion 4
7                                 Engine 28/Ladder 11
8                                            Engine 5
9                                           Engine 55
10                               Ladder 20/Division 1
11                     Engine 24/Ladder 5/Battalion 2
12                                 Engine 33/Ladder 9
13                               Ladder 3/Battalion 6
14                                           Squad 18
15                                Engine 34/Ladder 21
16                                          Engine 26
17                     Engine 3/Ladder 12/Battalion 7
18                                 Engine 1/Ladder 24
19                                          Engine 14
20                              Engine 16 / Ladder 7
21                                          Engine 21
22                     Engine 54/Ladder 4/Battalion 9
23                                          Engine 23
24                                           Rescue 1
25                                Engine 40/Ladder 35
26             Ladder 25/District Office 4/Division 3
27                                          Engine 74
28                                          Engine 65
29                  Engine 8 / Ladder 2 / Battalion 8
30                                Engine 39/Ladder 16
31                                          Engine 44
32                   Engine 22/Ladder 13/Battalion 10
33                                Engine 58/Ladder 26
34                                Engine 53/Ladder 43
35                                          Engine 91
36                                Engine 35/Ladder 14
37                   Engine 76/Ladder 22/Battalion 11
38                                          Engine 47
39                                Engine 59/Ladder 30
40                                Engine 37/Ladder 40
41                   Engine 69/Ladder 28/Battalion 16
42                                Engine 80/Ladder 23
43                                Engine 84/Ladder 34
44                                          Engine 67
45                   Engine 93/Ladder 45/Battalion 13
46                                Engine 95/Ladder 36
47                                           Marine 1

                         FacilityAddress    Borough
0                        42 South Street  Manhattan
1                     124 Liberty Street  Manhattan
2                      49 Beekman Street  Manhattan
3                   100-104 Duane Street  Manhattan
4                  14 North Moore Street  Manhattan
5                        75 Canal Street  Manhattan
6                         25 Pitt Street  Manhattan
7                    222 East 2nd Street  Manhattan
8                   340 East 14th Street  Manhattan
9                      363 Broome Street  Manhattan
10                  253 Lafayette Street  Manhattan
11                     227-29 6th Avenue  Manhattan
12                 42 Great Jones Street  Manhattan
13                  108 East 13th Street  Manhattan
14                  132 West 10th Street  Manhattan
15                  440 West 38th Street  Manhattan
16                  220 West 37th Street  Manhattan
17                  150 West 19th Street  Manhattan
18               142-46 West 31st Street  Manhattan
19                   14 East 18th Street  Manhattan
20                  234 East 29th Street  Manhattan
21                  238 East 40th Street  Manhattan
22                        782 8th Avenue  Manhattan
23                  215 West 58th Street  Manhattan
24                  530 West 43rd Street  Manhattan
25                131 Amsterdam Avenue    Manhattan
26              205-207 West 77th Street  Manhattan
27                 120 West 83rd Street   Manhattan
28                   33 West 43rd Street  Manhattan
29                  167 East 51st Street  Manhattan
30               157-59 East 67th Street  Manhattan
31                  221 East 75th Street  Manhattan
32                  159 East 85th Street  Manhattan
33                       1367 5th Avenue  Manhattan
34                   1836-46 3rd  Avenue  Manhattan
35                 242 East 111th Street  Manhattan
36                       2282 3rd Avenue  Manhattan
37              145-51 West 100th Street  Manhattan
38                 502 West 113th Street  Manhattan
39                 111 West 133rd Street  Manhattan
40                 415 West 125th Street  Manhattan
41                 248 West 143rd Street  Manhattan
42                 503 West 139th Street  Manhattan
43                 513 West 161st Street  Manhattan
44                 518 West 170th Street  Manhattan
45                 515 West 181st Street  Manhattan
46                   29 Vermilyea Avenue  Manhattan
47  Little West 12th Street/Hudson River  Manhattan


Information for Borough: Bronx
                                     FacilityName             FacilityAddress  \
48               Engine 60/Ladder 17/Battalion 14       341 East 143rd Street
49                                       Squad 41       330 East 150th Street
50                 Engine 71/Ladder 55/Division 6          720 Melrose Avenue
51                            Engine 50/Ladder 19      1155 Washington Avenue
52               Engine 92/Ladder 44/Battalion 17          1259 Morris Avenue
53                                EMS Station 17            1080 Ogden Avenue
54                            Engine 68/Ladder 49          1160 Ogden Avenue
55                                 EMS Station 26            1264 Boston Road
56               Engine 73/Ladder 42/Battalion 26         655 Prospect Avenue
57                Engine 94/Ladder 48/Battalion 3          1226 Seneca Avenue
58                                      Engine 42          1781 Monroe Avenue
59                            Engine 43/Ladder 59        1901 Sedgwick Avenue
60                                       Rescue 3      1655 Washington Avenue
61                           Engine 46, Ladder 27  460 Cross Bronx Expressway
62  Bronx Borough Command, District Office 6 & 7        451 East 176th Street
63                            Engine 82/Ladder 31       1213 Intervale Avenue
64                 Engine 48/Ladder 56/Division 7         2417 Webster Avenue
65                            Engine 88/Ladder 38         2225 Belmont Avenue
66               Engine 45/Ladder 58/Battalion 18     925 East Tremont Avenue
67               Engine 75/Ladder 33/Battalion 19          2175 Walton Avenue
68                            Engine 81/Ladder 46          3025 Bailey Avenue
69               Engine 79/Ladder 37/Battalion 27          2928 Briggs Avenue
70                            Engine 96/Ladder 54           1689 Story Avenue
71          Engine 64/Ladder 47/District Office 7     1214 Castle Hill Avenue
72                            Engine 90/Ladder 41      1843 White Plains Road
73                          Squad 61/Battalion 20    1518 Williamsbridge Road
74                                      Engine 97           1454 Astor Avenue
75                            Engine 62/Ladder 32      3431 White Plains Road
76                            Engine 38/Ladder 51       3446 Eastchester Road
77               Engine 63/Ladder 39/Battalion 15       755 East 233rd Street
78                            Engine 66/Ladder 61           21 Asch Loop West
79                            Engine 89/Ladder 50     2924 Bruckner Boulevard
80                                      Engine 72    3929 East Tremont Avenue
81                            Engine 70/Ladder 53        169 Schofield Street

   Borough
48   Bronx
49   Bronx
50   Bronx
51   Bronx
52   Bronx
53   Bronx
54   Bronx
55   Bronx
56   Bronx
57   Bronx
58   Bronx
59   Bronx
60   Bronx
61   Bronx
62   Bronx
63   Bronx
64   Bronx
65   Bronx
66   Bronx
67   Bronx
68   Bronx
69   Bronx
70   Bronx
71   Bronx
72   Bronx
73   Bronx
74   Bronx
75   Bronx
76   Bronx
77   Bronx
78   Bronx
79   Bronx
80   Bronx
81   Bronx


Information for Borough: Brooklyn
                                          FacilityName        FacilityAddress  \
82   Engine 207/Ladder 110/Battalion 31/Division 11...     172 Tillary Street
83                                          Engine 226       409 State Street
84                               Engine 205/Ladder 118      74 Middagh Street
85                                          Engine 224       274 Hicks Street
86                               Engine 279/Ladder 131    252 Lorraine Street
..                                                 ...                    ...
143                              Engine 257/Ladder 170  1361 Rockaway Parkway
144                                         Engine 323          6405 Avenue N
145                              Engine 309/Ladder 159  1851 East 48th Street
146                              Engine 246/Ladder 169  2732 East 11th Street
147                                         Engine 321  2165 Gerritsen Avenue

      Borough
82   Brooklyn
83   Brooklyn
84   Brooklyn
85   Brooklyn
86   Brooklyn
..        ...
143  Brooklyn
144  Brooklyn
145  Brooklyn
146  Brooklyn
147  Brooklyn

[66 rows x 3 columns]


Information for Borough: Queens
                                          FacilityName  \
148                              Engine 258/Ladder 115
149                              Engine 325/Ladder 163
150                 Engine 259/Ladder 128/Battalion 45
151                                         Engine 260
152                              Engine 261/Ladder 116
153                                         Engine 262
154                 Engine 263/Ladder 117/Battalion 49
155                                         Engine 312
156                              Engine 307/Ladder 154
157                              Engine 289/Ladder 138
158                                         Engine 316
159                             Engine 324/Division 14
160                                   Eng 292/Rescue 4
161                                 Squad 288/Hazmat 1
162                 Engine 287/Ladder 136/Battalion 46
163                              Engine 291/Ladder 140
164                              Engine 305/Ladder 151
165                              Engine 286/Ladder 135
166                                         Engine 319
167                              Engine 297/Ladder 130
168                              Engine 295/Ladder 144
169                              Engine 273/Ladder 129
170                            Engine 274/Battalion 52
171                              Engine 320/Ladder 167
172                            Engine 306/Battalion 53
173                              Engine 315/Ladder 125
174                              Engine 299/Ladder 152
175                              Engine 326/Ladder 160
176                              Engine 313/Ladder 164
177                                         Engine 251
178                                         Engine 293
179                              Engine 285/Ladder 142
180                                         Ladder 143
181                              Squad 270/Division 13
182                            Engine 308/Battalion 51
183                 Engine 298/Ladder 127/Battalion 50
184                              Engine 303/Ladder 126
185                                         Engine 275
186                              Engine 301/Ladder 150
187                              Engine 304/Ladder 162
188                              Engine 302/Ladder 155
189                 Engine 317/Ladder 165/Battalion 54
190                              Engine 311/Ladder 158
191                                         Engine 314
192                              Engine 331/Ladder 173
193                   Engine 264/Engine 328/Ladder 134
194  Engine 265/Ladder 121/Battalion 47 EMS Station 47
195                            Engine 266/Battalion 47
196                              Engine 268/Ladder 137
197                                         Engine 329

                    FacilityAddress Borough
148               10-40 47th Avenue  Queens
149               41-24 51st Street  Queens
150         33-51 Greenpoint Avenue  Queens
151               11-15 37th Avenue  Queens
152             3720-22 29th Street  Queens
153               30-89 21st Street  Queens
154         42-06 Astoria Boulevard  Queens
155               22-63 35th Street  Queens
156           81-17 North Boulevard  Queens
157               97-28 43rd Avenue  Queens
158            27-12 Kearney Street  Queens
159     108-01 Horace Harding Blvd.  Queens
160          64-18 Queens Boulevard  Queens
161               56-29 68th Street  Queens
162              86-53 Grand Avenue  Queens
163       56-07 Metropolitan Avenue  Queens
164         111-02 Queens Boulevard  Queens
165             66-44 Myrtle Avenue  Queens
166                 78-11 67th Road  Queens
167                119-11 14th Road  Queens
168              12-49 149th Street  Queens
169              40-18 Union Street  Queens
170             41-20 Murray Street  Queens
171   36-18 Francis Lewis Boulevard  Queens
172               40-18 214th Place  Queens
173           159-06 Union Turnpike  Queens
174            61-20 Utopia Parkway  Queens
175     64-04 Springfield Boulevard  Queens
176              44-01 244th Street  Queens
177           254-20 Union Turnpike  Queens
178               89-40 87th Street  Queens
179              103-17 98th Street  Queens
180           101-02 Jamaica Avenue  Queens
181              91-45 121st Street  Queens
182       107-12 Lefferts Boulevard  Queens
183          153-11 Hillside Avenue  Queens
184         104-12 Princeton Street  Queens
185        111-36 Merrick Boulevard  Queens
186              91-04 197th Street  Queens
187              218-44 97th Avenue  Queens
188       143-15 Rockaway Boulevard  Queens
189             117-11 196th Street  Queens
190    145-50 Springfield Boulevard  Queens
191     142-04 Brookville Boulevard  Queens
192      158-57 Cross Bay Boulevard  Queens
193            16-15 Central Avenue  Queens
194  48-06 Rockaway Beach Boulevard  Queens
195  92-20 Rockaway Beach Boulevard  Queens
196          257 Beach 116th Street  Queens
197          402 Beach 169th Street  Queens


Information for Borough: Staten Island
                                          FacilityName  \
198                                           Marine 9
199                               Engine 155/Ladder 78
200                             Ladder 79/Battalion 22
201                                         Engine 156
202                               Engine 163/Ladder 83
203                               Engine 153/Ladder 77
204                               Engine 165/Ladder 85
205                               Engine 157/Ladder 80
206                                         Engine 158
207                               Engine 166/Ladder 86
208  Engine 154/District Office 8/ Staten Island Bo...
209                            Engine 152/Battalion 21
210                               Engine 161/Ladder 81
211                     Engine 160/Rescue 5/Division 8
212                                         Engine 159
213                  Engine 162/Ladder 82/Battalion 23
214                               Engine 167/Ladder 87
215                               Engine 164/Ladder 84
216                          Engine 168/EMS Station 23
217                               Engine 151/Ladder 76

                 FacilityAddress        Borough
198  Saint George Ferry Terminal  Staten Island
199           14 Brighton Avenue  Staten Island
200        1189 Castleton Avenue  Staten Island
201                 412 Broadway  Staten Island
202            875 Jewett Avenue  Staten Island
203              74 Broad Street  Staten Island
204           3067 Richmond Road  Staten Island
205        1573 Castleton Avenue  Staten Island
206               65 Harbor Road  Staten Island
207         1400 Richmond Avenue  Staten Island
208       3730 Victory Boulevard  Staten Island
209          256 Hylan Boulevard  Staten Island
210          278 Mc Clean Avenue  Staten Island
211              1850 Clove Road  Staten Island
212           1592 Richmond Road  Staten Island
213            256 Nelson Avenue  Staten Island
214            345 Annadale Road  Staten Island
215     1560 Drumgoole Road West  Staten Island
216        1100 Rossville Avenue  Staten Island
217              7219 Amboy Road  Staten Island